body, div, button, h1, img {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: segoe ui, verdana, arial, sans-serif;
    background-color: #2f343a;
    padding-top: 1rem;
    overflow: auto;
}

.game-menu {
    margin: auto;
    padding: 2rem;
    text-align: center;

    background: -moz-linear-gradient(-45deg, rgba(1,31,67,1) 0%, rgba(16,39,66,1) 49%, rgba(26,43,63,1) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(1,31,67,1) 0%,rgba(16,39,66,1) 49%,rgba(26,43,63,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(1,31,67,1) 0%,rgba(16,39,66,1) 49%,rgba(26,43,63,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(1,31,67,1) 0%,rgba(16,39,66,1) 49%,rgba(26,43,63,1) 100%);
    background: linear-gradient(135deg, rgba(1,31,67,1) 0%,rgba(16,39,66,1) 49%,rgba(26,43,63,1) 100%);
    box-shadow: 0 0 4px 4px rgba(26,43,63,.7);
}

.game-info {
    position: fixed;
    padding: 0.5em;
    width: 100%;
    z-index: 1;
}

.info-block {
    float: left;
    margin-right: 1em;
}

.info-type {
    float: left;
    width: 2em;
    height: 2em;
}

.info-value {
    color: white;
    font-size: 1.5rem;
}

.container button {
    width: 9em;
    height: 4em;
    margin-left: 0.2rem;
    margin-top: 0.2rem;
    font-size: 2rem;
    color: #000;
}

#custom-game-menu * {
    font-size: 1.5rem;
}

.container input {
    padding: 0.5rem;
    min-height: 2rem;
    width: 8rem;
    font-size: 2rem;
    text-align: center;
    margin: 0.1em;
    border-radius: 0.1em;
    border-color: #1c3c59;
    background-color: cornflowerblue;
}

.container label {
    text-align: right;
    color: white;
    display: inline-block;
    width: 7em;
}

#startgame button#easy {
    background: -moz-linear-gradient(-45deg, rgba(155,253,135,1) 0%, rgba(112,241,83,1) 40%, rgba(42,225,5,1) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(155,253,135,1) 0%,rgba(112,241,83,1) 40%,rgba(42,225,5,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(155,253,135,1) 0%,rgba(112,241,83,1) 40%,rgba(42,225,5,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(155,253,135,1) 0%,rgba(112,241,83,1) 40%,rgba(42,225,5,1) 100%);
    background: linear-gradient(135deg, rgba(155,253,135,1) 0%,rgba(112,241,83,1) 40%,rgba(42,225,5,1) 100%);
}

#startgame button#easy:hover {
    box-shadow: 0 0 4px 4px rgba(155,253,135,.7);
}

#startgame button#medium {
    background: -moz-linear-gradient(-45deg, rgba(135,224,253,1) 0%, rgba(83,203,241,1) 40%, rgba(5,171,224,1) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(135,224,253,1) 0%,rgba(83,203,241,1) 40%,rgba(5,171,224,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(135,224,253,1) 0%,rgba(83,203,241,1) 40%,rgba(5,171,224,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(135,224,253,1) 0%,rgba(83,203,241,1) 40%,rgba(5,171,224,1) 100%);
    background: linear-gradient(135deg, rgba(135,224,253,1) 0%,rgba(83,203,241,1) 40%,rgba(5,171,224,1) 100%);
}

#startgame button#medium:hover {
    box-shadow: 0 0 4px 4px rgba(135,224,253,.7);
}

#startgame button#hard {
    background: -moz-linear-gradient(-45deg, rgba(155,135,253,1) 0%, rgba(107,83,241,1) 40%, rgba(42,5,225,1) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(155,135,253,1) 0%,rgba(107,83,241,1) 40%,rgba(42,5,225,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(155,135,253,1) 0%,rgba(107,83,241,1) 40%,rgba(42,5,225,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(155,135,253,1) 0%,rgba(107,83,241,1) 40%,rgba(42,5,225,1) 100%);
    background: linear-gradient(135deg, rgba(155,135,253,1) 0%,rgba(107,83,241,1) 40%,rgba(42,5,225,1) 100%);
}

#startgame button#hard:hover {
    box-shadow: 0 0 4px 4px rgba(107,83,241,.7);
}

#startgame button#custom {
    background-color: #804550;
}

#startgame button#custom:hover {
    box-shadow: 0 0 4px 4px chocolate;
}

#custom-game-menu {
    display: none;
}

#start-custom-game {
    background: -moz-linear-gradient(-45deg, rgba(155,135,253,1) 0%, rgba(107,83,241,1) 40%, rgba(42,5,225,1) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(155,135,253,1) 0%,rgba(107,83,241,1) 40%,rgba(42,5,225,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(155,135,253,1) 0%,rgba(107,83,241,1) 40%,rgba(42,5,225,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(155,135,253,1) 0%,rgba(107,83,241,1) 40%,rgba(42,5,225,1) 100%);
    background: linear-gradient(135deg, rgba(155,135,253,1) 0%,rgba(107,83,241,1) 40%,rgba(42,5,225,1) 100%);
}

button#start-custom-game:hover {
    box-shadow: 0 0 4px 4px rgba(107,83,241,.7);
}

.container h1 {
    color: white;
    padding: 1em;
}

#game {
    display: none;
}

#gamefield {
    margin: auto;
    position: relative;
    top: 3rem;
}

tr {
    border-radius: 0.1rem;
    border: 1px solid #1c3c59;
}

td {
    width: 2.3rem;
    height: 2.3rem;
    text-align: center;
    font-size: 1.7rem;
    outline: 0.1rem solid #1c3c59;
    border-radius: 0.2rem;
    background: -moz-linear-gradient(-45deg, rgba(198,203,236,1) 0%, rgba(134,152,236,1) 57%, rgba(99,124,235,1) 82%, rgba(169,183,249,1) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(198,203,236,1) 0%,rgba(134,152,236,1) 57%,rgba(99,124,235,1) 82%,rgba(169,183,249,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(198,203,236,1) 0%,rgba(134,152,236,1) 57%,rgba(99,124,235,1) 82%,rgba(169,183,249,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(198,203,236,1) 0%,rgba(134,152,236,1) 57%,rgba(99,124,235,1) 82%,rgba(169,183,249,1) 100%);
    background: linear-gradient(135deg, rgba(198,203,236,1) 0%,rgba(134,152,236,1) 57%,rgba(99,124,235,1) 82%,rgba(169,183,249,1) 100%);

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

table:hover {
    cursor: default;
}

#gamefield .clicked {
    background: none;
    animation: click .15s forwards;
    -moz-animation: click 0.15s forwards;
    -webkit-animation: click .15s forwards;
    -o-animation: click .15s forwards;
}

#gamefield .question {
    background-image: url('images/question.png');
    background-size: contain;
}

#game .flag {
    background-image: url('images/flag.png');
    background-size: contain;
}

#game .bomb {
    animation: bomb .15s;
    -moz-animation: bomb 0.05s;
    -webkit-animation: bomb .15s;
    -o-animation: bomb .15s;
    background-image: url('images/bomb.png');
    background-size: contain;
}

#gameover {
    position: fixed;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    width: 10rem;
    height: 4.5rem;
    color: white;
    font-size: 1.4rem;
    font-weight: bold;
    background-color: rgba(135, 0, 255, 0.74);
    display: none;
}

#playagain {
    display: block;
    margin: auto;
    float: none;
    font-size: 1.3rem;
    width: 8.8rem;
    height: 2.3rem;
    border-radius: 0.2rem;
    color: white;
    background: -moz-linear-gradient(top, rgba(31,110,183,1) 0%, rgba(24,85,138,1) 24%, rgba(5,56,101,1) 50%, rgba(21,75,123,1) 79%, rgba(26,91,148,1) 100%);
    background: -webkit-linear-gradient(top, rgba(31,110,183,1) 0%,rgba(24,85,138,1) 24%,rgba(5,56,101,1) 50%,rgba(21,75,123,1) 79%,rgba(26,91,148,1) 100%);
    background: -o-linear-gradient(top, rgba(31,110,183,1) 0%,rgba(24,85,138,1) 24%,rgba(5,56,101,1) 50%,rgba(21,75,123,1) 79%,rgba(26,91,148,1) 100%);
    background: -ms-linear-gradient(top, rgba(31,110,183,1) 0%,rgba(24,85,138,1) 24%,rgba(5,56,101,1) 50%,rgba(21,75,123,1) 79%,rgba(26,91,148,1) 100%);
    background: linear-gradient(to bottom, rgba(31,110,183,1) 0%,rgba(24,85,138,1) 24%,rgba(5,56,101,1) 50%,rgba(21,75,123,1) 79%,rgba(26,91,148,1) 100%);
}

#gameEnd {
    text-align: center;
    display: block;
}

 /** { outline : 2px solid chocolate; } */

@keyframes click {
    0% {
        background: rgba(99,124,235,1);
    }

    20% {
        background: rgba(115,137,237,1);
    }

    40% {
        background: rgba(131,151,239,1);
    }

    60% {
        background: rgba(145,163,241,1);
    }

    80% {
        background: rgba(161,176,243,1);
    }

    100% {
        background: rgba(197,217,247,1);
    }
}


@-webkit-keyframes click {
    0% {
        background: rgba(99,124,235,1);
    }

    20% {
        background: rgba(115,137,237,1);
    }

    40% {
        background: rgba(131,151,239,1);
    }

    60% {
        background: rgba(145,163,241,1);
    }

    80% {
        background: rgba(161,176,243,1);
    }

    100% {
        background: rgba(197,217,247,1);
    }
}


@-moz-keyframes click {
    0% {
        background: rgba(99,124,235,1);
    }

    20% {
        background: rgba(115,137,237,1);
    }

    40% {
        background: rgba(131,151,239,1);
    }

    60% {
        background: rgba(145,163,241,1);
    }

    80% {
        background: rgba(161,176,243,1);
    }

    100% {
        background: rgba(197,217,247,1);
    }
}


@keyframes bomb {
    0% {
        background: rgba(99,124,235,1);
    }


    100% {
        background: rgb(255, 0, 0);
    }
}


@-webkit-keyframes bomb {
    0% {
        background: rgba(99,124,235,1);
    }


    100% {
        background: rgb(255, 0, 0);
    }
}


@-moz-keyframes bomb {
    0% {
        background: rgba(99,124,235,1);
    }


    100% {
        background: rgb(255, 0, 0);
    }
}
